<footer class="panel-footer">

    <div>
            <div class="social">
                <strong class="title">AltexSoftLab Query builder </strong>
                <ul class="social-sharing">
                    <li><a class="icon-facebook" href="https://www.facebook.com/groups/AltexSoftLab/" id="facebook" target="_blank">Facebook</a></li>
                    <li><a class="icon-twitter" href="https://twitter.com/" id="twitter" target="_blank">Twitter</a></li>
                    <li><a class="icon-linkedin" href="http://www.linkedin.com/" id="linkedin" target="_blank">LinkedIn</a></li>
                    <li><a class="icon-gplus" href="https://plus.google.com/" id="googleplus" target="_blank">Google+</a></li>
                </ul>
                <br />
                <p>&copy; @DateTime.Now.Year - AltexSoftLab ASP.NET Application</p>
            </div>
        <div id="FooterContact" style=""; >
                <address>
                    <span class="address">
                        Street ###
                        <br>39600 Kremenchug, Ukraine<br>
                    </span><span>+38 067 535 38 57</span><br>
                    <span><a href="mailto:contact@AltexSoftLab.com" title="Email Us">contact@AltexSoftLab.com</a></span>
                </address>
        </div>
    </div>
</footer>
