@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"  >
    <img style="float:right; align-content:center; width:400px;"  src="../../Images/bg-call-to-action-03.png"/>
    <h2>SQL QUERY BUILDER – <br />BUILD SQL QUERIES WITHIN SECONDS <br /> ANY SQL KNOWLEDGE</h2>
    <ul>
        <li>Run your own SQL queries using our easy-to-use and intuitive drag-and-drop interface    </li>
        <li>Create charts, tables and dashboards with only a few clicks</li>
        <li>Connect datapine to your database in less than 10 minutes</li>
    </ul>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">START FREE DEMO</a></p>

</div>

<div class="row" style="clear:right;">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>