@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img style="float:right; align-content:center; width:400px;" src="../../Images/bg-call-to-action-03.png" />
    <h2>SQL QUERY BUILDER – <br />BUILD SQL QUERIES WITHIN SECONDS <br /> ANY SQL KNOWLEDGE</h2>
    <ul>
        <li>Run your own SQL queries using our easy-to-use and intuitive drag-and-drop interface    </li>
        <li>Create charts, tables and dashboards with only a few clicks</li>
        <li>Connect datapine to your database in less than 10 minutes</li>
    </ul>
    <p><a href="/Workflow/List" class="btn btn-primary btn-lg">START FREE</a></p>

</div>

<div class="row" style="clear:right;">
    <div class="col-md-4">

        <h2>Getting started</h2>
        <img style="float:left; width:80px; margin-right: 10px" src="../../Images/NO-registration-required.png" />

        <p>
            Query Builder can use without registration. For use just press "START FREE".
            Query Builder without registration have features such us:
           
        </p>
        <p><a class="btn btn-default" href="Features/NoRegistration">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Build query </h2>
        <img style="float:left; width:100px;" src="../../Images/MousePC.jpg" />

        <p>
            The ability to build your requests only with the mouse. You do not need to know the SQL to build your query and get results.
            For this will be enough to use our intuitive graphical interface.
        </p>
        <p><a class="btn btn-default" href="Features/BuildQuery">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ER-model your database</h2>
        <img style="float:left; width:100px; margin-right: 10px" src="../../Images/ER-Model.jpg" />

        <p>
            You have the opportunity to see a detailed ER-model of your database.
            The ER-model will help you to trace all the connections and relationships of tables, as well as the available fields.
        </p>
        <p><a class="btn btn-default" href="Features/ER_Model">More &raquo;</a></p>
    </div>
</div>
<div class="row" style="clear:right;">
    <div class="col-md-4">

        <h2>Export data</h2>
        <img style="float:left; width:100px; margin-right: 10px; " src="../../Images/Export.jpg" />

        <p>
            Opportunity to export result for your query in *.XLS and *.PDF. Your data will be save to popular format files on your PC or send to e-mail.
        </p>
        <p><a class="btn btn-default" href="Features/ExportData">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Shared project </h2>
        <img style="float:left; width:80px; margin-right: 10px; " src="../../Images/SharedProject.png" />

        <p>
            You have the ability to share your project with colleagues and build queries together or just give someone access requests in your project.
        </p>
        <p><a class="btn btn-default" href="Features/SharedProject">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Different types of queries</h2>
        <img style="float:left; width:80px; margin-right: 10px; " src="../../Images/Query.jpeg" />

        <p>
            The ability to build various types of queries, requests and combine to make nested queries.Complex queries are now easy to build.
        </p>
        <p><a class="btn btn-default" href="Features/TypesQuery">More &raquo;</a></p>
    </div>
</div>
