body {
}
#IconEdit
{
    background-repeat: no-repeat;
    background: url(../Images/Icon/Edit2.png);
    display: block;
    width: 30px;
    height: 28px;
    background-size: 25px;
}

#IconInviteUser
{
    background-repeat: no-repeat;
    background: url(../Images/Icon/useradd2.png);
    display: block;
    width: 25px;
    height: 28px;
    background-size: 30px;
}
#IconInviteUser:hover
{
    background-repeat: no-repeat;
    background: url(../Images/Icon/useradd.png);
      width: 30px;
    height: 28px;
    background-size: 30px;
}

#IconEdit:hover
{
    background: url(../Images/Icon/Edit.png);
    display: block;
    width: 30px;
    height: 28px;
    background-size: 30px;
}
#IconDelete
{
    background-repeat: no-repeat;
    margin-right:10px;
    background: url(../Images/Icon/Delete2.png);
    display: block;
    width: 30px;
    height: 28px;
    background-size: 25px;
}
#IconDelete:hover
{
    background: url(../Images/Icon/Delete.png);
    background-repeat: no-repeat;
    display: block;
    width: 30px;
    height: 28px;
    background-size: 30px;
}

.IconMenu
{
    display:inline-table; float:right; margin-right:10px; margin-top:20px;
}
#IconMenuAdd
{
    padding-left: 10px;
    background-image: url(../Images/Icon/add2.png);
    background-repeat: no-repeat;
    background-size: 30px 28px;
    background-position-x: 300px;
    background-position-y: center;
    
}
#IconMenuAdd:hover
{
        background-image: url(../Images/Icon/add.png);
}
.YourProjects
{
    padding-left: 60px;
}

.dropdown-user {
    right: 0px;
    left: auto;
}
#User
{
    background-image: url(../Images/Icon/login2.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    margin: 0;
    padding: 0;
}
#User:hover
{
    background: none;
    background-image: url(../Images/Icon/login.png);
    background-size: 35px;
    background-position: center;
    background-repeat: no-repeat;
}
.LogOutUser, .SettingsUser

{
    display: inline;
    height: 20px;
    line-height: 30px;
    text-align:left;

}


.SettingsUser > a
{
    padding-left: 25px;
    background-image: url(../Images/Icon/setting2.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: left center;
    margin-left: 5px;
    
}
.LogOutUser > a
{
    padding-left: 25px;
    background-image: url(../Images/Icon/logoff2.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: left center;
    margin-left: 5px;
}
#gn-menu > .dropdown
{
    float: right;
    border-right: none;
    border-left: 1px solid #c6d0da;
}
#CountInvited
{
    position:relative;
    /*top: 30px;
    left: 20px;*/
    color: red;
    font-size: 11px;
    /*border: 2px solid #2E83FF;
    width: 25px;
    height: 25px;
    border-radius: 50%;

    padding: 3px;
    line-height: normal;*/
   
}
#Notification:hover
{
    background: none;
    background-image: url(../Images/Icon/notify.png);
    background-size: 50px;
        background-position: center;
    background-repeat: no-repeat;
}
#Notification
{
    background-image: url(../Images/Icon/notify2.png);
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;

}
.invites
{
    padding-left: 15px;
    display:inline;
        margin: 0;
    line-height: normal;
    display:inline-flex;
    
}

.AcceptInvite
{
    position:relative;
    right:-45px;
     margin-left: 10px;
     background-image: url(../Images/Icon/ok.png);
     background-position: 0px -4px;
     width: 20px;
     height: 20px;
     background-size: 25px;
     background-repeat: no-repeat;
}
.no-touch .gn-menu-main .AcceptInvite a:hover, .no-touch .gn-menu-main .DeleteInvite a:hover
{
    background:none!important;
}

.DeleteInvite
{
    position:relative;
    right:-40px;
     margin-left: 10px;
     background-image: url(../Images/Icon/no.png);
     background-position: 0px -4px;
     width: 20px;
     height: 20px;
     background-size: 25px;
     background-repeat: no-repeat;
}
.disabled
{
    display: none;
}
 .column {
        float: left;
        padding-bottom: 100px;
    }

    .nonSortable {
        margin: 0 1em 1em 0;
        padding: 0.3em;
    }

    .portlet {
        margin: 0 1em 1em 0;
        padding: 0.3em;
    }

    .portlet-header {
        padding: 0.2em 0.3em;
        margin-bottom: 0.5em;
        position: relative;
        width: 100%;
        display: block;
        height: 30px;
    }

    .portlet-toggle {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -8px;
    }

    .portlet-3 {
        /*position: absolute;
        top: 50%;
        right: 45px;*/
         position:relative;
        float: right;
        display: inline-block;
    }

    .portlet-2 {
        /*position: absolute;
        top: 50%;
        right: 20px;*/

        position:relative;
        float: right;
        display: inline-block;
    }

    .portlet-content {
        padding: 0.4em;
    }

    .portlet-placeholder {
        border: 1px dotted black;
        margin: 0 1em 1em 0;
        height: 50px;
    }

    .iconHeader {
        background-repeat: no-repeat;
        width: 27px;
        height: 27px;
        background-size: 25px;
        background-position: center;
        padding: 0;
        margin: 0;
    }

    .iconHeaderEdit {
        background-image: url(../../Images/Icon/edit2.png);
        /*margin-top: -13px;*/
    }

    .iconHeaderCreate {
        background-image: url(../../Images/Icon/add2.png);
        margin-top: -13px;
    }

        .iconHeaderCreate:hover {
            background-image: url(../../Images/Icon/add.png);
        }

    .iconHeaderEdit:hover {
        background-image: url(../../Images/Icon/edit.png);
    }

    .iconHeaderDelete {
        background-image: url(../../Images/Icon/Delete2.png);
        background-position:center;
        background-size:30px;
        /*margin-top: -13px;*/
    }

.ItemConnectionDelete > .iconHeaderDelete
 {
        background-image: url(../../Images/Icon/Delete2.png);
    }

.iconHeaderDelete:hover
{
    background-image: url(../../Images/Icon/Delete.png);
}


.ItemNameConnection
{
    float: left;
   max-width:150px;
}
.HeaderNameProject
{
   }