@model QueryBuilderMVC.Models.ProjectViewModel

@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <p class="TextField">Your project name: @Html.TextBoxFor(x => x.Name)</p>
    <p class="TextField">Project description: @Html.TextBoxFor(x => x.Description@*, new { @class = "TextField" }*@)</p>
    
        <input type="submit" value="Create new project" />
}
