@model QueryBuilderMVC.Models.ProjectViewModel

@{
    Layout = "~/Views/Shared/_Workflow.cshtml";
}

@if (Request.IsAuthenticated)
{
    <div style="text-align: right">
        @Html.Partial("CreateConnectionPartial")


    </div>










}
else
{
<p>Autorized please</p>
}