@model QueryBuilderMVC.Models.ProjectViewModel

@{
    Layout = "~/Views/Shared/_Workflow.cshtml";
}

@if (Request.IsAuthenticated)
{
    <p></p>
    <p></p>
            <p></p>
            <p></p><p></p><p></p>
            <p></p>



    @Html.ActionLink(" Create new connection ", "CreateConnectionPartial", "Workflow", new { id = Model.IdCurrentProject },
                                new
                                {
                                    @class = "CreateConnection",
                                    data_dialog_title = "Create new connection"
                                })



    @*<div class="row" style="clear:right;">
        <div class="col-md-6">

            <h3>Project setting:</h3>
            <div >
                <div class="demo" style="display:inline-block; vertical-align:top">
                    <input type="checkbox" id="hd-2" class="hide" />
                    <label for="hd-2">Setting project: (Press me)</label>
                    <div style="text-align: right;">
                        @Html.Partial("UpdateProjectPartial")
                    </div>
                </div>
                <div class="demo" style="display:inline-block;">
                    <input type="checkbox" id="hd-3" class="hide" />
                    <label for="hd-3">Create connection (Press me)</label>
                    <div style="text-align: right;">
                        @Html.Partial("CreateConnectionPartial")
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Shared project:</h3>
           

        </div>

    </div>
    <div class="row" style="clear:right;">
       
        <div class="col-md-6">
            <h3>My queries:</h3>

        </div>
        <div class="col-md-6">
            <h3>Statistics:</h3>

        </div>
    </div>*@








}
else
{

    <h1 class="col-lg-6">Autorized please</h1>
}