
@*<h2>Success</h2>*@

<script>
    $(document).ready(function () {
        $(".ui-button-text").hide();
        setTimeout(function() {
            window.location.href = "@Url.Content(ViewBag.PreviousPage.ToString())";
        }, 2000);
    })
</script>
