@model QueryBuilderMVC.Models.ProjectViewModel

@using (Html.BeginForm())
{

    @Html.ValidationSummary();
   
    <p class="TextField" style="display:none;">Name project: @Html.TextBoxFor(x => x.IdCurrentProject, new { placeholder = Model.IdCurrentProject}) </p>

    <p class="TextField">Name project: @Html.TextBoxFor(x => x.Name, new { placeholder = Model.Name }) </p>
    <p class="TextField">Description: @Html.TextBoxFor(x => x.Description, new { placeholder = Model.Description })</p>
    @*<br />

    <input type="submit" name="action" value="Update project" />*@
}

